./firebase-tools-instant-win.exe
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
firebase-tools-instant-win.exe
./firebase-tools-instant-win.exe
/./firebase-tools-instant-win.exe
firestore-debug.log
